/* =======================
   General Body Styling
   ======================= */
body {
    background: #021024;
    width: 100vw;
    height: 100vh;
    color: #FFF;
    overflow-x: hidden;
}

/* =======================
   Header & Main Styling
   ======================= */
header {
    padding: 20px;
}

main {
    padding: 20px;
}

/* =======================
   Navbar Styling
   ======================= */
.navbar {
    top: 50px;
}

/* =======================
   Navbar Logo Styling
   ======================= */
.navbar-logo img {
    width: 50px;
    height: 50px;
    background: none;
}

/* =======================
   Navbar Links Styling
   ======================= */
.navbar-nav .nav-link {
    color: #FFFF;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 1px;
}

/* Hover Effect for Navbar Links */
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #C1E8FF;
    transition: width 0.3s ease-in-out;
}

a:hover::after {
    width: 100%;
}

/* =======================
   Carousel Styling
   ======================= */
.carousel-item {
    padding: 20px;
}

/* Carousel Images */
.carousel-item img {
    height: 700px;
    object-fit: cover;
}

/* Glitch Effect for Carousel Items */
.carousel-item .glitch {
    object-position: top;
}

/* Carousel Captions */
.carousel-caption p {
    font-size: 24px;
}

.carousel-caption h5 {
    font-size: 32px;
}

.carousel-caption p,
.carousel-caption h5 {
    color: #FFFF;
}

/* =======================
   Carousel Indicators
   ======================= */
.carousel .carousel-indicators [data-bs-target] {
    background-color: #C1E8FF;
}

/* =======================
   Question 1
   ======================= */


table {
    min-width: 560px;
    margin: 0 auto;
    cursor: pointer;
}

table, th, td, tr {
    border: 3px solid #052659;
}

th, td {
    font-weight: bold;
    text-align: center;
}

th {
    background-color: #7DA0CA;
    font-size: 24px;
}

td {
    background-color: #C1E8FF;
    color: #021024;
    font-size: 20px;
    padding: 0 50px;
    transition: .8s ease-in-out;
}

.blue.active {
    background-color: blue;
    color: white;
}

.green.active {
    background-color: green;
    color: white;
}

/* =======================
   Question 2
   ======================= */

.form-label {
    font-size: 24px;
}

.form-select {
    width: 75px;
    height: 50px;
}

form .btn {
    padding: 16px 25px;
    height: 44px;
    background: linear-gradient(90deg, #C1E8FF, #052659, #7DA0CA);
    animation: gradient-animation 5s linear infinite;
    background-size: 300% 100%;
    border: none;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2),
    0 8px 20px rgba(255, 255, 255, 0.1);
}

form .btn:hover {
    background: none;
    border: 2px solid #C1E8FF;
    color: #7DA0CA;
    text-shadow:
            0 0 5px #C1E8FF,
            0 0 10px #C1E8FF,
            0 0 15px #052659,
            0 0 20px #052659,
            0 0 30px #7DA0CA,
            0 0 40px #7DA0CA;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.4),
    0 16px 40px rgba(255, 255, 255, 0.3);
}


@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* =======================
   Question 2
   ======================= */

#question-3 div{
    overflow: hidden;
}

#question-3 img {
    width: 150px;
    transition: ease-in-out .3s;
}

.zoom-container i {
    font-size: 50px;
    cursor: pointer;
}